{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "edge": "17",
          "firefox": "31",
          "chrome": "67",
          "safari": "7.1"
        }
      }
    ]
  ]
}
